<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('background/cocktails.jpg') %>)">
  <h1>Let's make a cocktail</h1>
</div>

<div class="container">
<% @cocktails.each do |drink| %>
  <div class="card-product">
    <img src="https://picsum.photos/120/80?random">
    <div class="card-product-infos">
      <%= link_to drink.name, cocktail_path(drink) %>
    </div>
  </div>
<% end %>
</div>

